@page
@using BugTrackerModel
@using System.Collections
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Elite Bug Tracker</h1>
    <p>Create <a href="/Bugs/Create">a new Bug Ticket</a>.</p>
    <p>@ViewData["Message"]</p>

    <table border="1">
        <tr>
            <th>Title</th> 
            <th>State</th>
            <th>ReportedDate</th>
        </tr>
    @foreach (Bug bug in ViewData["Bugs"] as List<Bug>)
    {
        <tr>
            <td> <a href="/Bugs/Details?id=@bug.BugId">@Html.DisplayFor(modelItem => bug.Title)</a> </td>
            <td>@Html.DisplayFor(modelItem => bug.State)</td>
            <td>@Html.DisplayFor(modelItem => bug.ReportedDate)</td>
        </tr>
    }
    </table>

</div>
